[Unit]
Description = NameNode server for HDFS.
After = syslog.target network.target remote-fs.target

[Service]
Type=forking
Environment=JAVA_HOME=/usr/java/default
ExecStart = {{ hadoop_usr_dir }}/sbin/hadoop-daemon.sh --config {{ hadoop_conf_dir }} --script hdfs start namenode
ExecStop = {{ hadoop_usr_dir }}/sbin/hadoop-daemon.sh --config {{ hadoop_conf_dir }} --script hdfs stop namenode
User = {{ hadoop_user }}

[Install]
WantedBy = multi-user.target